<div class="container">
  <div class="col-sm-8">
    <fieldset><legend><h2>Verify</h2></legend>
      <h3 *ngIf="isOn1">Valid</h3>
      <h3 *ngIf="isOn2">Invalid!!!</h3>
    <form class="form-horizontal" #loginForm = "ngForm" (ngSubmit) = login()>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
          <label id="lbl">Document</label>
          <input type='file' (change)="fileChanged($event)">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
          <button type="submit" class="btn btn-success">Verify</button>
        </div>
      </div>
    </form>
    </fieldset>
    </div>
  </div>
