
<h2>Land Registry</h2>
<form action="/action_page.php">
  <div class="form-group">
    <label for="text">Name of applicant:</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Name of someone:</label>
    <input type="text" class="form-control" id="pwd"  name="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Name of someone:</label>
    <input type="text" class="form-control" id="pwd"  name="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Name of someone:</label>
    <input type="text" class="form-control" id="pwd"  name="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">Name of someone:</label>
    <input type="text" class="form-control" id="pwd"  name="pwd">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
