
<!-- <app-register></app-register>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/docList']">DocVer</a>
    </div>
    
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <div class="row">
    <div class="col-md-6">
      <app-listof (onGenerate)="formNow($event)"></app-listof>
      
      <hr>
    </div>
    <div class="col-md-6">
      <app-new-document *ngIf="formType; else others" [whatForm]="formType" ></app-new-document>
      <ng-template #others>Which form do you want to generate???</ng-template>

    </div>  

  </div> -->
  <!-- <app-login></app-login> -->
  
</div>

