<form action="" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="input-group date">
      <label for="regDate">Date of Marriage</label>
      <input name="regDate" class="form-control" type="date" ngModel required pattern="^[a-zA-Z\.]*$">
  </div>

  <div class="form-group">
    <label for="nameOfHusband">Name of husband</label>
    <input class="form-control" type="text" name="nameOfHusband"ngModel pattern="^[a-zA-Z\.]*$">
  </div>

  <div class="form-group">
      <label for="nameOfWife">Name of wife</label>
      <input class="form-control" type="text" name="nameOfWife" ngModel pattern="^[a-zA-Z\.]*$">
  </div>

  <div class="form-group">
      <label for="occupationOfHusband">Occupation of Husband</label>
      <input class="form-control" type="text" name="occupationOfHusband" ngModel >
  </div>

  <div class="form-group">
      <label for="occupationOfWife">Occupation of wife</label>
      <input class="form-control" type="text" name="occupationOfWife" ngModel >
  </div>


  <div class="form-group">
    <label for="sel1">Marital Status of Husband</label>
    <select class="form-control" name="statusHus" ngModel required>
        <option value="" selected disabled hidden>Click Here to choose</option>
        <option  value="married">Married</option>
        <option value="unmarried">Unmarried</option>
        <option value="widower">Widower</option>
        <option value="widow">Widow</option>
        <option value="divorced">Divorced</option>
        
    </select>
  </div>


  <div class="form-group">
    <label for="sel1">Marital Status of Wife</label>
    <select class="form-control" name="statusWif" ngModel required>
        <option value="" selected disabled hidden>Click Here to choose</option>
        <option  value="married">Married</option>
        <option value="unmarried">Unmarried</option>
        <option value="widower">Widower</option>
        <option value="widow">Widow</option>
        <option value="divorced">Divorced</option>
        
    </select>
  </div>

  <div class="input-group date">
      <label for="husbandDOB">Date of birth of Husband</label>
      <input name="husbandDOB" class="form-control" type="date" ngModel required>
  </div>

  <div class="input-group date">
      <label for="wifeDOB">Date of birth of Wife</label>
      <input name="wifeDOB" class="form-control" type="date" ngModel required>
  </div>

  <div class="form-group">
    <label for="proofOfAgeHus">Age proof of  Husband</label>
    <input class="form-control" type="number" name="poaHus" ngModel >
  </div>

  <div class="form-group">
    <label for="proofOfAgeWife">Age proof of Wife</label>
    <input class="form-control" type="number" name="poaWif" ngModel >
  </div>

  <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </div>








</form>