<!-- <div class="row" >
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div>
        <button class="btn btn-primary" style="margin-top:100px">Generate</button>
      </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div>
        <button class="btn btn-success" style="margin-top:100px">Verify</button>
      </div>
    </div>
</div>   -->
<button class="btn btn-primary" [ngStyle] = "myStyle" (click) = 'buttonClick($event)' > {{ action.action }} </button>