<div class="row">
  <div class="col-md-12 ">
    <h3>What do you want to edit??</h3>
    
    <button *ngFor="let document of documents" class="btn btn-primary">{{document.name}}</button>
      <!-- <ul class="nav nav-pills nav-stacked primary">
        <li class="bg-info" *ngFor="let document of documents">
         <a class="list-group-item clearfix" 
          data-toggle="tab" href="#" >{{document.name}} 
          <span class="pull-right">
            <button class="btn btn-primary" (click)="generateDoc(document)">Generate</button>
            <button class="btn btn-primary" (click)="verifyDoc()">Verify</button>
          </span>
          </a>
        </li>
         <app-buttons *ngIf="displayButton"></app-buttons></li> -->
      
  </div>
</div>
<app-buttons></app-buttons>









