
<table class=" table">
  <thead>
    <tr>
      <th scope="col" >Index</th>
      <th scope="col" >Document</th>
      <th scope="col" colspan="2" >Action</th>
    </tr>
    <tr *ngFor="let document of documents, let i = index">
      <th scope="row">{{i + 1}}</th>
      <td > {{ document.name }} </td>
      <td> <app-buttons [action]= "{action: 'Generate', path: document.path }" ></app-buttons> </td>
      <td> <app-buttons [action]= "{action: 'Search', path: document.path }" ></app-buttons> </td>
      <td> <app-buttons [action]= "{action: 'Verify', path: document.path }" ></app-buttons> </td>
    </tr>
  </thead>
</table>

<!-- <div class=" container container-fluid">
  <div class=" row" *ngFor="let document of documents" >
    <div class=" col-md-2 col-xs-offset-5" >
      <button class=" btn btn-primary">
        {{document.name}}
      </button>
    </div>
  </div>
</div> -->


<!-- <app-buttons></app-buttons> -->









